*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --backgroud: #FFFFFF;
  --text: #000000;
  --row: #EFF1F1;
  --row-light: #F8F8F8;
  --input: #6B7375;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul,
li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}